body {
    width: 1440px;
    font-family: 'Roboto';
    color: #373867;
}

main {
    width: 1110px;
    display: inline;
    float: right;
    padding-left: 68px;
    padding-right: 78px;
    padding-top: 57px;
}

.title-1 {
    z-index: 3;
    background-color: #373867;
    color: #fff;
    font-family: 'Roboto';
    size: 40px;
    height: 77px;
}

.radium {
    position: absolute;
    width: 78px;
    left: 43px;
    top: 13px;
    height: 59px;
}

.title-1 h1 {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    left: 147.71px;
    top: 25px;
    bottom: 11px;
}

aside {
    display: inline-block;
    position: sticky;
    background-color: #aace9b;
    width: 158px;
    height: 860px;
    padding: 20px 13px;
}

aside .first-menu {
    margin-bottom: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #373867;
}

aside span {
    display: inline-block;
    font-size: larger;
    color: #373867;
    margin-bottom: 13px;
}

aside .line-2 {
    width: 100px;
    height: 4px;
    border-radius: 60px;
    margin-bottom: 13px;
    background-color: #373867;
}

aside ul {
    margin-bottom: 13px;
    padding-bottom: 13px;
}

aside .contact-menu {
    margin-bottom: 13px;
    padding-bottom: 13px;
}

aside .list-2 {
    color: #373867;
    font-size: 12px;
}

.sub-menu {
    display: block;
    font-size: 12px;
    color: #373867;
    margin-bottom: 35px;
}

.contact-a1 {
    display: inline-block;
    font-size: 12px;
    color: #373867;
    margin-bottom: 13px;
}

.sub-menu p {
    display: inline;
}

aside .img-1 {
    display: inline;
    width: 16px;
}

.first-part {
    height: 482px;
    border-bottom: 2px solid #373867;
}

.container-fp {
    display: inline;
    width: 50%;
    height: 387px;
    float: left;
}

.container-fp .title-fp {
    font-size: 40px;
    margin-bottom: 19.16px;
}

.container-fp .subtitle-fp {
    font-size: 20px;
    margin-bottom: 42.14px;
}

.container-fp p {
    font-size: 15px;
    margin-bottom: 18.7px;
    width: 516.53px;
}

.first-part .buttom-1 {
    position: absolute;
    color: #373867;
    width: 120px;
    height: 35px;
    border: 1px solid #373867;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    left: 570px;
    top: 470px;
}

.img-print {
    display: inline;
    width: 520px;
    height: 387px;
    border-radius: 10px;
    float: right;
}

.second-part {
    margin-top: 57px;
    width: 1130px;
    height: 698px;
    border-bottom: 2px solid #AFAFC2;
}

.box-color {
    background-color: #aace9b;
    width: 234px;
    height: 3px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.second-part h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.first-func {
    width: 534px;
    height: 213px;
}

.first-sp {
    width: 536px;
    height: 505px;
    float: left;
}

.second-sp {
    width: 536px;
    height: 505px;
    float: right;
}

.second-func {
    width: 536px;
    height: 505px;
    float: right;
}

.text-func-0 {
    display: inline-block;
    width: 314px;
    height: 144px;
    padding-top: 40px;
}

.img-fp {
    width: 140px;
    height: 140px;
    display: inline;
    float: left;
    text-align: center;
    margin-right: 23px;
}

.subtitle-sp {
    margin-bottom: 10px;
    font-size: 30px;
}

.three-part {
    width: 1110px;
    height: 1487px;
    border-bottom: 2px solid #AFAFC2;
    margin-bottom: 57px;
}

.title-tp {
    font-size: 30px;
    margin-top: 57px;
    margin-bottom: 20px;
}

.box-color-tp {
    width: 700px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 48px;
    background-color: #aace9b;
}

.card {
    position: relative;
    width: 400px;
    height: 581px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgb(55, 56, 103, 10%);
}

.title-tp {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-2 {
    font-size: 20px;
}

.imgpart-1 {
    width: 400px;
    height: 264px;
    border-radius: 10px;
}

.button-card {
    position: absolute;
    width: 75px;
    height: 38px;
    border-radius: 5px;
    bottom: 20px;
}

.three-func-left {
    float: left;
}

.three-func-right {
    float:right
}

