body {
    font-family: 'Roboto';
}

.float {
    float: right;
    width: 85%;

}

.title-1 {
    position: relative;
    background-color: #373867;
    color: #fff;
    font-family: 'Roboto';
    size: 40px;
    height: 77px;
}

.radium {
    position: absolute;
    width: 78px;
    left: 43px;
    top: 13px;
    height: 59px;
}

.title-1 h1 {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    left: 147.71px;
    top: 25px;
    bottom: 11px;
}

.aside-1 {
    position: fixed;
    background-color: #AACE9B;
    color: #373867;
    height: 100%;
    width: 184px;
}

aside h2 {
    font-weight: 700;
    font-size: 14px;
    padding: 9px;
    line-height: 31px;
    border-bottom: 3px solid #373867;
    width: 46px;
    margin-left: 10px;
}

aside ul li {
    font-size: 12px;
    font-weight: 400;
    padding: 13px;
    border-bottom: 1px solid rgba(55, 56, 103, 0.4);
    list-style: none;
    line-height: 26px;
    width: 120px;
    margin: 10px;
}


.img-1 {
    position: relative;
    left: 10px;

}
.img-1 li {
    border: none;
    padding: 9px;
    right: 0px;
    top: 16px;
    width: 140px;
    padding-left: 30px;
}
.img-1 img {
    position: absolute;
    left: 14px;
    top: 15px;
}

.float section h2 {
    color: #373867;
    padding: 19px;
    margin-top: 40px;
    margin-left: 30px;
    width: 517px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.float section h3 {
    color: #373867;
    padding: 19px;
    margin-left: 30px;
    width: 500px;
    font-style: normal;
    font-weight: 400 regular;
    font-size: 20px;
}

.float section p {
    color: #373867;
    padding: 19px;
    width: 450px;
    height: 90px;
    margin-left: 30px;
}

.float .img-print {
    position: absolute;
    right: 79px;
    top: 150px;
    width: 520px;
    height: 380px;
    border-radius: 5px;
}

.float .buttom-1 {
    position: absolute;
    color: #373867;
    width: 120px;
    height: 35px;
    border: 1px solid #373867;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    left: 570px;
    top: 470px;
}

.first-part {
    padding: 13px;
    border-bottom: 1px solid rgba(55, 56, 103, 0.4);
    width: 1000px;
    height: 489px;
}

.second-part {
    padding: 13px;
    border-bottom: 1px solid rgba(55, 56, 103, 0.4);
}

.second-part div {
    width: 45%;
    display: inline-block
}

.second-part .second-title {
    font-size: 30px;
    border-bottom: 1px solid rgba(55, 56, 103, 0.4);
}

.second-part .first-func h3 {
    padding-left: 210px;
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;
}

.second-part .first-func img {
    float: left;
    margin: 0px 23px 23px 23px;
}

.second-part .first-func p {
    font-size: 16px;
}

.three-part {
    padding: 13px;
    border-bottom: 1px solid rgba(55, 56, 103, 0.4);
    width: 1110px;
    height: 1487px;
}

.three-part .three-insane {
    padding: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #373867;
    border-bottom: 1px solid rgba(55, 56, 103, 0.4);
    width: 700px;

}

.three-part div {
    display: inline-block;
    width: 30%;
}

.three-part .three-func1 {
    width: 439px;
    background-color: #e8e9f4;
}

.three-part .three-func2 {
    float: right;
    padding: 20px;
    width: 439px;
    background-color: #e8e9f4;
}

.three-part .three-func3 {
    float: left;
    padding: 20px;
    width: 439px;
    background-color: #e8e9f4;
}

.three-part .three-func4 {
    float: right;
    padding: 20px;
    width: 439px;
    background-color: #e8e9f4;

}

.three-part .imgpart-1 {
    margin: 20px;
    width: 400px;
    height: 264px;
}

.three-part .bottom-2 {
    color: #373867;
    border: 1px solid #373867;
    background: #FFFFFF;
    margin: 20px;
}