.conections-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.last-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.last-text p {
    padding: 0.5rem;
}

@media (min-width: 768px) {

    .conections-1{
        justify-content: flex-start;
}

    .conections-1 .icon-f {
        padding-right: 2.5rem;
    }

    .last-text {
        align-items: flex-start;
    }

    .last-text p {
        padding: 0;
        margin: 0.6rem 0;
    }

    .last-text2 {
        display: flex;
    }
}