header {
    background-color: #373867;
    width: 100%;
}

.header-1 {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4rem;
}

.header-1 h1 {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

@media (min-width: 768px) {
    