.conteiner {
    width: 90%;
    margin: auto;
}

.main-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 1.375rem;
    border-bottom: 0.2rem solid #AFAFC2;
}

.main-1 .img-1 {
    align-self: center;
    width: 100%;
    margin-top: 60px;
    border-radius: 5px;
}

.main-1 h2 {
    font-weight: 700;
    font-size: 1.25em;
    margin: 0.6em 0 0.2em 0;
    width: 80%;
    line-height: 1.25em;
}

.main-1 h3 {
    margin-bottom: 0.8em;
}

.buttom-1 {
    width: 7em;
    height: 3.4em;
    border: 1px solid #373867;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.4em;
    margin: 1em 0 1.9em;
    font-size: 0.7em;
}

.first-func {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: 0.8em;
}

.second-part h2 {
    width: 7em;
    font-weight: 700;
    font-size: 1.375em;
    padding: 0.8em;
    border-bottom: 2px solid #AFAFC2;
}

.subtitle-sp {
    font-size: 1.375em;
    font-weight: 700;
    padding: 0.8em;
}

.img-sp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: auto;
    max-width: max-content;
    padding: 0.8em;
}

.imgpart-1 {
    border-radius: 0.5em;
}

.second-part {
		padding-bottom: 3rem;
		margin-bottom: 3rem;
    border-bottom: 0.2rem solid #AFAFC2; 
}

.three-part {
	padding-bottom: 3rem;
	margin-bottom: 3rem;
	border-bottom: 0.2rem solid #AFAFC2; 
}

.three-part h2 {
    width: 18rem;
    font-weight: 700;
    font-size: 1.375em;
    border-bottom: 2px solid #AFAFC2;
		margin-bottom: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(55, 56, 103, 10%);
		margin: 1.9rem 0;
		padding: 1.375rem;
}

.title-tp {
    font-size: 0.9rem;
    font-weight: 700;
		margin: 1.375rem 0 1.375rem;
}

.text-2 {
    font-size: 0.9rem;
}

.button-card {
	width: 7em;
	height: 3.4em;
	border: 1px solid #373867;
	box-sizing: border-box;
	border-radius: 0.4em;
	margin: 1em 0 1.9em;
	font-size: 0.7em;
}
