.conteiner {
    width: 90%;
    margin: auto;
}

.main-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 1.375rem;
    border-bottom: 0.2rem solid #AFAFC2;
}

.main-1 .img-1 {
    align-self: center;
    width: 100%;
    border-radius: 5px;
}

.main-1 h2 {
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0.6em 0 0rem 0;
    width: 100%;
    line-height: 1.25em;
}

.main-1 h3 {
    margin-bottom: 0.8em;
}

.main-1 button {
    width: 6rem;
    height: 2.8rem;
    border: 1px solid #373867;
    color:#373867;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.4em;
    margin: 1.1rem 0 2rem;
    font-size: 0.7em;
}

.second-part h2 {
    width: 7em;
    font-weight: 700;
    font-size: 1.375em;
    padding: 0.8em;
    border-bottom: 2px solid #AFAFC2;
}

.first-func {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: 0.8em;
}

.img-sp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 140px;
    height: 140px;
    max-width: max-content;
    padding: 0.8em;
}

.subtitle-sp {
    font-size: 1.375em;
    font-weight: 700;
    padding: 0.8em;
}

.three-part h2 {
    width: 18rem;
    font-weight: 700;
    font-size: 1.375em;
    border-bottom: 2px solid #AFAFC2;
    margin-bottom: 3rem;
    padding-bottom: 1.2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(55, 56, 103, 10%);
    margin: 1.9rem 0;
    padding: 1.375rem;
}

.imgpart-1 {
    width: 100%;
    border-radius: 0.5rem;
}

.title-tp {
    font-size: 0.9rem;
    font-weight: 700;
	margin: 1.375rem 0 1.375rem;
}

.text-2 {
    font-size: 0.9rem;
}

.card button {
	width: 7em;
	height: 3.4em;
	border: 1px solid #373867;
	box-sizing: border-box;
	border-radius: 0.4em;
	margin: 1em 0 1.9em;
	font-size: 0.7em;
}

.fourth-part {
    padding-bottom: 1.5rem;
	margin-bottom: 3rem;
    border-bottom: 2px solid #AFAFC2;
}

.fourth-part h2 {
    width: 15rem;
    font-weight: 700;
    font-size: 1.375em;
    border-bottom: 2px solid #AFAFC2;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.inputs-fp {
    display: flex;
    flex-direction: column;
}

.inputs-fp input , .inputs-fp select {
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
    padding: 3px;
}

.inputs-fp label , .fp-radio span {
    font-size: 14px;
    font-weight: 700;
}

.fp-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ask-fp {
    margin-top: 2rem;
    margin-bottom: 0.6rem;
}

.fp-textarea {
    height: 110px;
    border-radius: 0.2rem;
}

.inputs-2 {
    display:flex;
    justify-content: space-between;
}

.inputs-2 div {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    margin: 2rem 0;
}

.inputs-button {
    display: flex;
    justify-content: space-evenly;
}

.submit-fp {
    width: 7em;
    height: 3.4em;
    border: 1px solid #373867;
    color: #373867;
    background: #aace9b;
    box-sizing: border-box;
    border-radius: 0.4em;
    margin: 1em 0 1.9em;
    font-size: 0.7em;
    font-weight: 700;
}

.fp-reset {
    width: 7em;
    height: 3.4em;
    border: 1px solid #373867;
    color: #373867;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.4em;
    margin: 1em 0 1.9em;
    font-size: 0.7em;
    font-weight: 700;
}

.fifth-part {
    padding-bottom: 1.5rem;
	margin-bottom: 3rem;
    border-bottom: 2px solid #AFAFC2;
}

.fifth-part h2 {
    width: 7rem;
    font-weight: 700;
    font-size: 1.375em;
    border-bottom: 2px solid #AFAFC2;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.dif-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
    border-bottom: 5px solid #AACE9B;
}

.products-1 {
    padding: 0;
    margin: 0.8rem 0;
    width: 30%;
}

@media (min-width: 480px) {

    .three-func-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        width: 35%;
    }

    .first-func {
        flex-direction: row;
        justify-content: flex-start;
    }

    .subtitle-sp {
        padding: 0;
    }

    .three-part h2 {
        width: 552px;
    }

    .text-func-0 {
        text-align: left;
        margin-top: 3rem;
    }

    .section-3 form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-3 .inputs-fp {
        width: 48%;
    }

    .st-01 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .inputs-2 {
        width: 35%;
    }
    
    .inputs-button {
        width: 35%;
    }

    .st-01 .inputs-fp {
        width: 100%;
        align-self: flex-start;
    }

    .dif-products {
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 0.8rem;
    }
    
    .products-1 {
        width: auto;
    }
}

@media (min-width: 768px) {
    
    .first-func2 {
        display:flex;
    }

    .first-func {
        width: 45%;
    }
}